<h1>New user</h1>

<%= form_with model: @user do |form| %>
  <div>
    <%= form.label :first_name %><br>
    <%= form.text_field :first_name %>
  </div>
  <div>
    <%= form.label :last_name %><br>
    <%= form.text_field :last_name %>
  </div>
  <div>
    <%= form.label :age %><br>
    <%= form.number_field :age %>
  </div>
  <div>
    <%= form.label :email_id %><br>
    <%= form.text_field :email_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
